html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    background: black;
}

.box {
    text-align: center;
    background: black;
    width: 100%;
    padding: 40px;
    border-radius: 25px;
    margin-top: 10%;
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    width: 60%;
    padding: 14px 20px;
    border: 3px solid #3498db;
    text-align: center;
    color: white;
    border-radius: 24px;
    outline: none;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    border-color: #2ecc71;
    width: 85%;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    width: 25%;
    padding: 14px 20px;
    border: 3px solid #2ecc71;
    text-align: center;
    color: white;
    border-radius: 24px;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}


.picture {
    width: 100%;
    border-bottom: 3px solid black;
}

.main {
    height: 100vh;
    background: white;
    position: relative;
}

.main2 {
    background: white !important;
    position: relative;
    min-height: 100vh;
}

.singin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    color: white;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #3498db;
    margin-left: 10px;
    transition: 0.5s;
}

.border:hover {
    background: green;
}

.border a {
    color: white!important;
}

.hello {
    margin-top: 9px;
    color: white!important;
    font-size: 25px;
    text-transform: capitalize;
}

nav {
    width: 100%;
    background: green;
    height: 70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ul.list {
    list-style-type: none;
    padding: 0;
    width: 250px;
}

ul.contact {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

ul.contact li {
    vertical-align: middle;
}

ul.list li a{
    font-size: 25px;
    color: greenyellow;
    text-decoration: none;
}

ul.list li {
    border-top: dashed 1px grey;
    border-bottom: dashed 1px grey;
    width: 250px;
    display: block;
}

.container {
    width: 100%;
}

.sidebar {
    position: fixed;
    width: 250PX;
    background-color: black;
    height: 100vh;
}

.content {
    margin-left: 250px;
    max-width: 900px;
    vertical-align: top;
    padding: 40px;
    font-size: 23px;
}

.photoContainer {
    padding: 30px 0;
    width: 150px;
    margin: 0 auto;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px white;
}
.logo {
    width: 30px;
    height: 30px;
    padding: 10px 10px 0px 40px;
    vertical-align: center;
}

.green {
    color: green;
}

.note {
    width: 100%;
    height: 65vh;
    border-radius: 10px;
    border: 2px solid greenyellow;
}

.taskTable {
    width: 100%;
    border: solid 4px greenyellow;
    border-radius: 25px;
}

.taskRow {
    border-bottom: blue;
    padding: 25px;
}

.taskText {
    width: 50%;
}

.taskDate {
    width: 20%;
}

.taskEdit {
    width: 15%;
}

.taskDelete {
    width: 15%;
}

.submitButton {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border: solid 2px greenyellow;
    border-radius: 20px;
}

.submitButton:hover {
    color: greenyellow;
    transition: 0.4s;
}

.note-select {
    margin-right: 3px;
    background-color: black;
    color: white;
    border: 2px solid greenyellow !important;
    border-radius: 10px 10px 0 0 !important;
    width: 100% !important;
}

.note-select-li {
    width: 32%;
    margin-right: 2px;
    height: 50px;
}

.note-select:hover {
    color: greenyellow;
    transition: 0.4s;
}

.add-task-header {
    text-align: center;
    color: black;
}

#text {
    width: 100%;
    border: 4px solid black;
}

.text-center {
    text-align: center;
}

.main-page-table {
    width: 100%;
    border: 3px solid greenyellow;
    border-radius: 55px !important;
}

.main-task-text {
    width: 75%;
    padding-left: 15px;
}

.main-task-status {
    width: 24%;
}

.main-table-row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.green-yellow {
    color: greenyellow;
}

.main-task-button {
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 4px;
}

.delete-button {
    background-color: red;
    color: white;
    border: 2px solid black;
}

.delete-button:hover {
    color: black;
    transition: 0.4s;
}

.edit-task {
    background-color: greenyellow;
    color: white;
}

.date-input {
    width: 100%;
}

.edit-link {
    width: 100%;
    background-color: greenyellow;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
}

.edit-link:hover {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}









