<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="container main">
    <div class="sidebar">
        <div class="photoContainer">
            <img src="/static/images/2.png" class="photo">
        </div>
        <div class="menu">
            <ul class="list">
                <li><a href="/">Main</a></li>
                <li><a href="/notes">Notes</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/daily/tasks">Daily Tasks</a></li>
                <li><a href="/yearly/tasks">Yearly Tasks</a></li>
                <li><a href="/statistic">Statistic</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">-->
                        <input type="submit" value="Log Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="col-xs-12 picture">
            <img src="/static/images/1.jpg" width="100%">
        </div>
        <h2 class="add-task-header"><b>Edit Daily Task</b></h2>
        <form th:action="@{/daily/tasks/edit}"  method="post">
            <input type="hidden" name="id" th:value="${dailyTask.id}">
            <p>
                <label for="text">Edit text for task:</label><br>
                <input type="text" name="text" class="task" id="text" th:value="${dailyTask.text}" placeholder=" Enter name of your task">
            </p>
            <p class="text-center">
                <label for="taskDate">Edit Start Date for Task:</label><br>
                <input type="date" id="taskStartDate" th:value="${dailyTask.startDate}" name="taskDate" class="task">
            </p>
            <p class="text-center">
                <label for="taskDate">Edit End Date for Task:</label><br>
                <input type="date" id="taskDate" th:value="${dailyTask.endDate}" name="taskDate" class="task">
            </p>
            <p>
                <input type="submit" value="Submit" class="submitButton"/>
            </p>
        </form>
    </div>
</div>
<!-- Some more stuff here -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>