<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Daily Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="container min-height">
    <div class="sidebar">
        <div class="photoContainer">
            <img src="/static/images/2.png" class="photo">
        </div>
        <div class="menu">
            <ul class="list">
                <li><a href="/">Main</a></li>
                <li><a href="/notes">Notes</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/daily/tasks">Daily Tasks</a></li>
                <li><a href="/yearly/tasks">Yearly Tasks</a></li>
                <li><a href="/statistic">Statistic</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">-->
                        <input type="submit" value="Log Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="col-xs-12 picture">
            <img src="/static/images/1.jpg" width="100%">
        </div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item note-select-li">
                    <a class="nav-link note-select" href="#tab1" role="tab" data-toggle="tab">This Year Tasks</a>
                </li>
                <li class="nav-item note-select-li">
                    <a class="nav-link note-select" href="#tab2" role="tab" data-toggle="tab">Next Year Tasks</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                <form th:action="@{/save/this/year/tasks}" method="post">
                    <input type="hidden" name="id" th:value="${thisYearTasks.id}">
                    <p><textarea type="text" name="text" class="note">[[${thisYearTasks?.text}]]</textarea></p>
                    <p><input type="submit" value="Save Tasks" class="submitButton"/></p>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2">
                <form th:action="@{/save/next/year/tasks}" method="post">
                    <input type="hidden" name="id" th:value="${nextYearTasks.id}">
                    <p><textarea type="text" name="text" class="note">[[${nextYearTasks?.text}]]</textarea></p>
                    <p><input type="submit" value="Save Tasks" class="submitButton"/></p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Some more stuff here -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>